#ucf file

# debug led
NET "LED0" LOC = P11;
NET "LED1" LOC = P12;
NET "LED0" IOSTANDARD = LVCMOS33;
NET "LED1" IOSTANDARD = LVCMOS33;

#clock
NET "CLK" LOC = T9;
NET "clk" PERIOD = 40 ns;
NET "CLK" IOSTANDARD = LVCMOS33;

#VGA
NET "RGB[2]" LOC = R12;
NET "RGB[1]" LOC = T12;
NET "RGB[0]" LOC = R11;
NET "H_SYNC" LOC = R9;
NET "V_SYNC" LOC = T10;

NET "RGB[2]" IOSTANDARD = LVCMOS33;
NET "RGB[1]" IOSTANDARD = LVCMOS33;
NET "RGB[0]" IOSTANDARD = LVCMOS33;
NET "H_SYNC" IOSTANDARD = LVCMOS33;
NET "V_SYNC" IOSTANDARD = LVCMOS33;

#PS2
NET "PS2_CLK" 	LOC = M16; 
NET "PS2_DATA" LOC = M15;
NET "PS2_CLK" 	IOSTANDARD = LVCMOS33;
NET "PS2_DATA" IOSTANDARD = LVCMOS33;

#SPI

NET	"SS_N[0]"	LOC = D5;
NET	"SCLK"	LOC = D6;
NET	"MOSI"	LOC = E7;
NET	"MISO"	LOC = D7;

NET	"SCSB"	IOSTANDARD = LVCMOS33;
NET	"SCLK"	IOSTANDARD = LVCMOS33;
NET	"MOSI"	IOSTANDARD = LVCMOS33;
NET	"MISO"	IOSTANDARD = LVCMOS33;
#BUTTONS
NET "BTN_S"		LOC = L14;
NET "BTN_Z"		LOC = L13;
NET "BTN_E"		LOC = M14;
NET "BTN_S"		IOSTANDARD = LVCMOS33;
NET "BTN_Z"		IOSTANDARD = LVCMOS33;
NET "BTN_E"		IOSTANDARD = LVCMOS33;


#SRAM
NET "RW_ADDR[17]" LOC=L3;
NET "RW_ADDR[16]" LOC=K5;
NET "RW_ADDR[15]" LOC=K3;
NET "RW_ADDR[14]" LOC=J3;
NET "RW_ADDR[13]" LOC=J4;
NET "RW_ADDR[12]" LOC=H4;
NET "RW_ADDR[11]" LOC=H3;
NET "RW_ADDR[10]" LOC=G5;
NET "RW_ADDR[9]" LOC=E4;
NET "RW_ADDR[8]" LOC=E3;
NET "RW_ADDR[7]" LOC=F4;
NET "RW_ADDR[6]" LOC=F3;
NET "RW_ADDR[5]" LOC=G4;
NET "RW_ADDR[4]" LOC=L4;
NET "RW_ADDR[3]" LOC=M3;
NET "RW_ADDR[2]" LOC=M4;
NET "RW_ADDR[1]" LOC=N3;
NET "RW_ADDR[0]" LOC=L5;

NET "RW_ADDR[17]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[16]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[15]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[14]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[13]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[12]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[11]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[10]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[9]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[8]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[7]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[6]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[5]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[4]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[3]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[2]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[1]" IOSTANDARD = LVCMOS33;
NET "RW_ADDR[0]" IOSTANDARD = LVCMOS33;

NET "DATA[15]" LOC=R1;
NET "DATA[14]" LOC=P1;
NET "DATA[13]" LOC=L2;
NET "DATA[12]" LOC=J2;
NET "DATA[11]" LOC=H1;
NET "DATA[10]" LOC=F2;
NET "DATA[9]" LOC=P8;
NET "DATA[8]" LOC=D3;
NET "DATA[7]" LOC=B1;
NET "DATA[6]" LOC=C1;
NET "DATA[5]" LOC=C2;
NET "DATA[4]" LOC=R5;
NET "DATA[3]" LOC=T5;
NET "DATA[2]" LOC=R6;
NET "DATA[1]" LOC=T8;
NET "DATA[0]" LOC=N7;

NET "DATA[15]" IOSTANDARD = LVCMOS33;
NET "DATA[14]" IOSTANDARD = LVCMOS33;
NET "DATA[13]" IOSTANDARD = LVCMOS33;
NET "DATA[12]" IOSTANDARD = LVCMOS33;
NET "DATA[11]" IOSTANDARD = LVCMOS33;
NET "DATA[10]" IOSTANDARD = LVCMOS33;
NET "DATA[9]" IOSTANDARD = LVCMOS33;
NET "DATA[8]" IOSTANDARD = LVCMOS33;
NET "DATA[7]" IOSTANDARD = LVCMOS33;
NET "DATA[6]" IOSTANDARD = LVCMOS33;
NET "DATA[5]" IOSTANDARD = LVCMOS33;
NET "DATA[4]" IOSTANDARD = LVCMOS33;
NET "DATA[3]" IOSTANDARD = LVCMOS33;
NET "DATA[2]" IOSTANDARD = LVCMOS33;
NET "DATA[1]" IOSTANDARD = LVCMOS33;
NET "DATA[0]" IOSTANDARD = LVCMOS33;


NET "OE_N" LOC=K4;
NET "WE_N" LOC=G3;
NET "CE_N" LOC=P7;
NET "UB_N" LOC=T4;
NET "LB_N" LOC=P6;

NET "OE_N" IOSTANDARD = LVCMOS33;
NET "WE_N" IOSTANDARD = LVCMOS33;
NET "CE_N" IOSTANDARD = LVCMOS33;
NET "UB_N" IOSTANDARD = LVCMOS33;
NET "LB_N" IOSTANDARD = LVCMOS33;
# #7-segment
# NET "segment_display<0>" LOC = E14;
# NET "anode<0>" LOC = D14;

# #switches
# NET "reset_sw" LOC = "K13";

# #LEDs
# NET "led_01<0>" LOC = K12;
# NET "led_01<1>" LOC = P14;

# #buttons
# NET "btn<0>" LOC = "M13";
# NET "btn<1>" LOC = "M14";

# PlanAhead Generated IO constraints 


